@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;

	margin-top: 50px;
}

nav{
	width: 100%;
	height: 80px;
	background-color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo{
	width: 80px;
	height: 100%;

}

.logo img{
	width: 100%;
	height: 100%;

	object-fit: contain;

}

.menu{
	width: 600px;
	height: 100%;
	
}

.menu ul{
	width: 100%;
	height: 100%;

	list-style-type: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #959c96;
	font-size: 0.8rem;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.menu ul li a{
	color:#959c96 ;
	text-decoration: none;
	padding: 10px 20px;

	transition: all 0.2s;
}

.menu ul li a:hover{
	color: #fff;
	background-color: #059696;

}


.chat{
	width: 100px;
	height: 100%;

}

.chat p{
	width: 45px;
	height: 20px;
	border-bottom: 2px solid #20a142;
	cursor: pointer;

	font-size: 0.8rem;
	color: #20a142;
	text-align: center;
	
	
	margin-top: 20px;
}

#home{
	width: 100%;
	height: 600px;
	/*background-color: steelblue;*/

	display: flex;
	justify-content: space-around;
	align-items: center;
}

#home .model{
	width: 500px;
	height: 500px;
	/*background-color: skyblue;*/
}

#home .model img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#home .content{
	width: 500px;
	height: 250px;
	/*background-color: burlywood;*/
}

#home .content h1{
	font-size: 3.5rem;
	letter-spacing: 1px;
}

#home .content p{
	color: #959c96;
	margin: 10px 0px 25px 0px;

}

#home .content a{
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #059696;
	border-radius: 30px;

	transition:all 0.2s ;

}

#home .content a:hover{
	background-color: #57d965;
}

#skills{
	width: 100%;
	height: 500px;
	/*background-color: red;*/

	display: flex;
	justify-content: space-around;
	align-items: center;
}

#skills .text{
	width: 400px;
	height: 450px;
	/*background-color: skyblue;*/
} 

#skills .text span{
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #04c998;
}

#skills .text h1{
	font-size: 3rem;
	letter-spacing: 2px;
	margin: 15px 0px;
}
#skills .text .skillcontainer{
	width: 100%;
	height: 100px;
	/*background-color: aliceblue;*/

	display: flex;
	justify-content: space-around;
	align-items:center ;
}

#skills .text .skillcontainer .icons{
	width: 50px;
	height: 50px;
	background-color: #ebf5ee;
	border-radius: 50% ;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 20px;

}

#skills .text .skillcontainer i{
	margin: 0px 30px;
}

.fa-html5{
	color: red;
	font-size: 1.2rem;
}

.fa-css3-alt{
	color: blue;
	font-size: 1.2rem;
}

.fa-square-js{
	color: tomato;
	font-size: 1.2rem;
}

#skills .text .skillcontainer .skilltext h3{
	font-size: 0.8rem;
	margin-bottom: 10px;
}

#skills .text .skillcontainer .skilltext p{
	font-size: 0.9rem;
}


#skills .photo{
	width: 550px;
	height: 400px;
/*	background-color: bisque;*/
}

#skills .photo img{
	width: 100%;
	height: 100%;
}

#recent{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#recent .recenthead h3{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #04c998;
}

#recent .recenthead h1{
	font-size: 3rem;
	letter-spacing: 2px;
}

#recent a{
	text-decoration: none;
	background-color:#059696 ;
	color: #fff;
	border-radius: 20px;

	padding: 7px 40px;

	transition: all 0.2s;
}

#recent a:hover{
	background-color: #57d965;
}

#client{
	width: 100%;
	height: 600px;
	/*background-color: burlywood;*/

	margin-top: 50px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

#client h3{
	color: #04c998;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#client h1{
	font-size: 3rem;
	letter-spacing: 1px;
}

#client .clientcontainer{
	width: 80%;
	height: 400px;
	/*background-color: skyblue;*/

	display: flex;
	justify-content:space-evenly ;
	align-items: center;
}

#client .clientcontainer .clientbox{
	width: 300px;
	height:350px ;
	/*background-color:azure ;*/
	box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
	border-radius: 10px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	transition: all 0.2s;
}

#client .clientcontainer .clientbox:hover{
	background-color: #05969670;
	transform: translateY(-10px);
}

#client .clientcontainer .clientbox img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
}

#client .clientcontainer .clientbox div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-star{
	color:goldenrod;
}

#client .clientcontainer .clientbox p{
	font-size: 0.9rem;
	text-align: center;

	width: 235px;
	height: 85px;
	/*background-color: brown;*/
	overflow: hidden;
}

#client .clientcontainer .clientbox a{
	color: #fff;
	background-color:#059696 ;
	padding: 8px 15px;
	text-decoration: none;
}

#contact{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin-top: -100px;
}

#contact img{
	width: 400px;
	height: 500px;
	/* background-color: brown; */
	padding-top: 140px;
}

#contact h1{
	font-size: 2.5rem;
	text-transform: capitalize;

	margin: 20px 0px;
}

#contact .inputbox{
	width: 350px;
	height: 50px;
	/* background-color: burlywood; */
	border-radius: 30px;
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.2);

	display:flex;
	justify-content: space-around;
	align-items: center;
}

#contact .inputbox .input{
	text-align: center;
	border: none;
	outline: none;
}

#contact .inputbox a{
	padding: 5px 20px;
	background-color: #059696;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}

footer{
	width: 100%;
	height: 50px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-top: 30px;
}